* {
  box-sizing: border-box;
}

html,
body,
form,
fieldset,
table,
tr,
td,
img {
  margin: 0;
  padding: 0;
  font: 100%/150% calibri, helvetica, sans-serif;
}

td,
td * {
  max-height: 30px !important;
}

body {
  width: 100%;
  min-height: 100vh;
}

#header-table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 2px;
}

.heading .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading .row p {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header .header-title {
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.description {
  text-align: justify;
  padding: 10px 50px;
}

#container-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 10px 50px;
}

.ano-slider-container {
  display: flex;
  align-items: center;
  gap: 2.125rem;
}

.btn-visualizacao-toggle {
  display: flex;
  justify-content: center;
  padding: 6px 10px;
}

#container {
  max-width: 100%;
  min-height: 650px;
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  #container {
    padding: 10px 40px;
    margin: 0 auto;
    width: 80%;
  }
}

.list-range-selector {
  display: none;
  position: absolute;
  top: 50%;
  right: 2%;
  width: 8rem;
  height: 300px;
  padding: 0.75rem 1rem;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-50%);
}

.list-range-selector ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-range-selector ul li {
  display: flex;
  align-items: center;
}

footer p {
  text-align: justify;
  padding: 20px 50px 0px;
  font-weight: bold;
}

footer ul {
  padding: 0px 50px 10px 75px;
}

.underline {
  text-decoration: underline;
}

button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: #f9fafb;
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}
